.icon-about-course svg{
  display: inline-block;
  position: relative;
  top: 8px; 
}

.icon-about-course h3{
  display: inline-block;
  margin-left: 5px;
}

.icon-about-course p{
  margin-left: 24px;
}

.reg-btn{
  min-height: 40px;
  height: fit-content;
  min-width: 40%;
  width: fit-content;
  padding: 7px;
  border-radius: 10px;
  background: rgb(5, 5, 79);
  border: none;
  outline: none;
  color: #fff;
  justify-self: center;
  grid-column: 1/-1;
  font: 20px 'Arial';
  text-align: center;
}

.reg-btn:hover{
  filter: drop-shadow(0px 0px 8px rgb(158, 239, 239));
}

.title-header .site-header-logo{
  display: inline-block;
  margin-right: 5px;
}

.title-header h1{
  display: inline-block;
}





